.contact-header {
  background: url("../../image/bg-bread.webp");
  height: 190px;
  text-align: center;
  .contact-tittle {
    padding-top: 30px;
    font-size: 45px;
    font-weight: 600;
    color: white;
    z-index: 1000;
  }
  .contact-child {
    padding-top: 20px;
    color: white;
    font-weight: 550;
    .contact-home {
      text-decoration: none;
      color: white;
      font-weight: 550;
      &:hover {
        color: black;
      }
    }
  }
}
