.sliderheader {
  margin-top: 10px;
  .slide-information {
    .content {
      position: absolute;
      margin-top: 10%;
      margin-left: 3%;
      width: 50%;
      // border: 1px solid black;
      color: white;
      .slide-text {
        font-size: 30px;
        font-weight: 600;
      }
      .p {
        font-size: 22px;
        font-family: 500;
        margin-top: 12px;
      }
      .slide-button {
        margin-top: 20px;

        button {
          padding: 12px 30px;
          background-color: transparent;
          color: white;
          font-size: 20px;
          font-weight: 500;
          outline: none;
          border: 1px solid white;
          &:hover {
            background-color: #f4a460;
          }
        }
      }
    }
    img {
      width: 100%;
      height: 600px;
    }
  }
  .react-multiple-carousel__arrow {
    background-color: transparent;
  }
}
