.homenavigation {
  margin-top: 40px;
  // border: 1px solid black;
  display: flex;
  flex-direction: column;
  //justify-content: center;
  text-align: center;
  align-items: center;
  .navigation-main-box {
    // border: 1px solid black;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 45px 20px;

    .navigation-box {
      position: relative;

      &:hover {
        animation: navigationbar 3s;
      }
      img {
        width: 360px;
        height: 360px;
      }
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 90px;
        background: linear-gradient(
          to top,
          rgba(255, 255, 255, 1),
          /* Solid white at the bottom */ rgba(255, 255, 255, 0)
            /* Transparent as it moves up */
        );
      }
      .navigation-text {
        position: absolute;
        bottom: 10%;
        right: 40%;
        font-size: 25px;
        font-weight: 600;
        text-transform: capitalize;
        color: black;
      }
    }
  }
}
// 1400
@media (max-width: 1400px) {
  .homenavigation {
    margin-top: 45px;
    // border: 1px solid black;
    display: flex;
    flex-direction: column;
    //justify-content: center;
    text-align: center;
    align-items: center;
    .navigation-main-box {
      //border: 1px solid black;
      width: 90%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 45px 20px;

      .navigation-box {
        position: relative;

        &:hover {
          animation: navigationbar 3s;
        }
        img {
          width: 300px;
          height: 280px;
        }
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 90px;
          background: linear-gradient(
            to top,
            rgba(255, 255, 255, 1),
            /* Solid white at the bottom */ rgba(255, 255, 255, 0)
              /* Transparent as it moves up */
          );
        }
        .navigation-text {
          position: absolute;
          bottom: 10%;
          right: 40%;
          font-size: 25px;
          font-weight: 600;
          text-transform: capitalize;
          color: black;
        }
      }
    }
  }
}
